mixin comment(commentData)
    .comment 
        if commentData.postedByAdmin
            em (Posted by Admin)
        .date= commentData.date
        .author= commentData.author
        .text= commentData.text

doctype html
html
    head
        title Mixins in Pug
        style.
            .comment {
                font-family: sans-serif;
                line-height: 1.5;
                padding: 10px;
                border: 1px solid #555;
                width: 250px;
            }

            .date {
                font-size: 85%;
                text-align: right;
            }

            .author {
                font-size: 110%;
                font-weight: bold;
            }

            .text {
                font-size: 100%
            }
    body 
        - const a = { date: "31-12-2021", author: "Sylwester", text: "It's today guys!" }
        +comment(a)
        
        - const b = { postedByAdmin: true,  date: "08-03-2001", author: "Jakub", text: "Happy Birthday, Jakub!" }
        +comment(b)

        
        - const c = { date: "19-09-1997", author: "Maja", text: "Life has just begun!" }
        +comment(c)